.nav-button:hover{
    background-color: black;
}
.info-menu-button:hover{
    background-color: #0077FF;
}
.format-case{
    p:hover{
        background-color: black;
        color: white;
        cursor: pointer;
    }
}
.button-publish:hover{
    background-color: black;   
}